.grid {
  margin-top: 20px;
  .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .pleft,.pright {
      width: 50%;
    }
    .btnf {
      width: 100%;
      padding: 0 25%;
      margin-bottom: 15px;
      button {
        height: 45px;
      }
    }
    .button-add
    {
      width: 100%;
    }
    mat-form-field
    {
      width: 100%;
    }
  }
  .form {
    width: 100%;
    display: flex;
    .code {
      width: 50%;
    }
  }
}
